/* @media  screen and (max-width:700px) {
    body{
        background-color: red;
    }
} */
 /* @media  screen and (min-width:400px) {
    body{
        background-color: blue;
    }
 } */
/* @media screen and (min-width:250px) and (max-width:750px){
    body{
        background-color: green;
    }

    
} */

.navbar{
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul{
      display: flex;
      gap: 40px;
      list-style: none;
}