.container {
  display: flex;
  border: 5px solid black;
  height: 1000px;
  margin: 50px;
}
.box {
  width: 100px;
  height: 100px;
}
/* relative to the page edges */
.box1 {
  background-color: red;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
}
/* it is relative to its normal position */
.box2 {
  background-color: blue;
  position: relative;
  top: 100px;
  left: 50px;
  z-index: 5;
}
/* fixed to the end of the page */
.box3 {
  background-color: green;
  position: fixed;
  top: 0px;
  left: 0px;
}
.box4 {
  background-color: orange;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.box3:hover {
  background-color: black;
}
/* every nth element */
/* li:nth-child(3n) {
  background-color: blue;
} */
li:nth-child(even) {
  background-color: red;
  color: white;
}
li:nth-child(odd) {
  background-color: yellow;
  color: blue;
}